---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "All-in-one platform",
    description:"enhance the QA process of front-end applications by handling every aspect of testing, from initial ticket creation to final deployment.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Improve Your Code Quality",
    description:
      "Increase your software quality and make testing an integral part of your development process.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Reduce Costs and Save Time",
    description:
      "No more waiting for tickets to be verified. Get immediate feedback for your software!",
    icon: "bx:bxs-data",
  },
  {
    title: "Jira Integration",
    description:
      "Install the QA365 App in the Jira Marketplace and integrate into your ticket system!",
    icon: "bx:bxs-bot",
  },
  {
    title: "Reporting",
    description:
      "We provide you with testing insights and tell you what went wrong and provide ideas to fix your issues.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Scalable Solution",
    description:
      "We support development teams of all sizes, from startups to large enterprises, ensuring that your testing capabilities grow with your needs.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to automate your testing process
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
